<%= simple_form_for(candidate) do |f| %>
  <% if candidate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(candidate.errors.count, "error") %> prohibited this candidate from being saved:</h2>

      <ul>
      <% candidate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="forms-group">
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :experience %>(in yrs)
    <%= f.input :ctc %>(in lakhs)
    <%= f.input :expected_ctc %>(in lakhs)
    <%= f.input :mobile %>
  </div>

  
  <div class="form-actions">
    <%= f.submit "Save", class: "btn btn-success" %>
  </div>
<% end %>
