<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @candidate.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @candidate.email %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @candidate.experience %> (in yrs)
</p>

<p>
  <strong>Ctc:</strong>
  <%= @candidate.ctc %> L/A
</p>

<p>
  <strong>Expected ctc:</strong>
  <%= @candidate.expected_ctc %> L/A
</p>

<p>
  <strong>Mobile:</strong>
  <%= @candidate.mobile %>
</p>

<%= link_to 'Edit', edit_candidate_path(@candidate) %> |
<%= link_to 'Back', candidates_path %>
